<div class="container-fluid">
  <div class="bg-image">
    <div class="d-flex p-3 mx-auto flex-column text-center">
      <main class="px-3 color">
        <h1>TP1: Sala de Juegos</h1>
        <p class="lead">Trabajo práctico de Manuel González: Sala de Juegos que
          incluye
          Ahorcado, Mayor o Menor, Preguntados y un chat para interactuar entre
          los distintos usuarios.
        </p>
        <p>Para comenzar, es necesario crear una cuenta o loguearse con una
          existente</p>
      </main>
    </div>
  </div>
</div>