.bg-image{
    background-image: url('https://wallpapercave.com/wp/wp2343900.png');
    width: 100%;
    height: 90vh;
    background-size: cover;
    /*border: 2px solid #e3985a;*/
}

.color{
    color: white;
}