<div class="col-6">

    <div class="card">
        <div class="card-header text-center">
            Preguntados! <span *ngIf="preguntaActual"> -- Puntaje: {{puntaje}} -- Preguntas restantes: {{preguntas.length + 1}}</span>
        </div>
        <div id="chat-window" class="card-body">
            <div *ngIf="preguntaActual; else elseBlock">
                <p class="card-text">
                    {{preguntaActual.pregunta}}
                </p>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="respuestas" (click)="seleccionarRespuesta(preguntaActual.respuestas[0])" src="{{preguntaActual.respuestas[0].url}}" alt="">
                    </div>
                    <div class="col-sm-4">
                        <img class="respuestas" (click)="seleccionarRespuesta(preguntaActual.respuestas[1])" src="{{preguntaActual.respuestas[1].url}}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="respuestas" (click)="seleccionarRespuesta(preguntaActual.respuestas[2])" src="{{preguntaActual.respuestas[2].url}}" alt="">
                    </div>
                    <div class="col-sm-4">
                        <img class="respuestas" (click)="seleccionarRespuesta(preguntaActual.respuestas[3])" src="{{preguntaActual.respuestas[3].url}}" alt="">
                    </div>
                </div>
            </div>
            <ng-template #elseBlock><div class="text-center"><img src="../../../assets/preguntados.png" style="max-width: 300px; max-height: 300px;"></div></ng-template>
        </div>
        <div *ngIf="!preguntaActual" class="card-footer text-muted">
            <div class="input-group">
                <a name="" id="" class="btn btn-primary" (click)="empezar()" role="button">Comenzar!</a>
            </div>
        </div>
    </div>

</div>