<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #b41c5c;">
    <a class="navbar-brand" routerLink='/bienvenido' >Sala de juegos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="this.hayUsuario" class="nav-item">
          <a class="nav-link" routerLink='/home/ahorcado' routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/about' routerLinkActive="active">Quien soy</a>
        </li>
      </ul>
      <div *ngIf="!this.hayUsuario; else elseBlock" class="d-flex align-items-center text-decoration-none me-2">
        <a type="button" routerLink="/login" class="btn btn-sm btn-primary">Login</a>
        <a type="button" routerLink="/registro" class="btn btn-sm btn-info">Registro</a>
      </div>
      <ng-template #elseBlock>
        <div *ngIf="this.datosUsuario" class="dropdown me-2">
          <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle btn" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>{{this.datosUsuario.mail}}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="btn dropdown-item" (click)="salir()">Salir</a></li>
          </ul>
        </div>
      </ng-template>
    </div>
</nav>