<main class="d-flex flex-nowrap fixed-top">
<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark" style="width: 228px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink='ahorcado' aria-current="page" routerLinkActive="active">
        Ahorcado
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink='mayoromenor' routerLinkActive="active">
        Mayor o Menor
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink='preguntados' routerLinkActive="active">
        Preguntados
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink='juegopropio' routerLinkActive="active">
        Juego Propio
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink='chat' routerLinkActive="active">
        Chat
      </a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink='resultados' routerLinkActive="active">
        Resultados
      </a>
    </li>
  </ul>
</div>
</main>

<!--
<main class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          Customers
        </a>
      </li>
    </ul>
  </div>
</main>
-->