<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink='ahorcado' aria-current="page" routerLinkActive="active">
        Ahorcado
      </a>
    </li>
    <li>
      <a class="nav-link text-white" routerLink='mayoromenor' routerLinkActive="active">
        Mayor o Menor
      </a>
    </li>
    <li>
      <a class="nav-link text-white" routerLink='preguntados' routerLinkActive="active">
        Preguntados
      </a>
    </li>
    <li>
      <a class="nav-link text-white" routerLink='juegos' routerLinkActive="active">
        Juego Propio
      </a>
    </li>
    <li>
      <a class="nav-link text-white" routerLink='chat' routerLinkActive="active">
        Chat
      </a>
    </li>
  </ul>
  <hr>
</div>